<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>Forecast</string>
			<key>iconList</key>
			<string>themify</string>
			<key>iconName</key>
			<string>cloud</string>
			<key>edit</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>name</key>
			<string>Search</string>
			<key>iconList</key>
			<string>FontAwesome</string>
			<key>iconName</key>
			<string>search</string>
			<key>edit</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>name</key>
			<string>Options</string>
			<key>iconList</key>
			<string>FontAwesome</string>
			<key>iconName</key>
			<string>gear</string>
			<key>edit</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>name</key>
			<string>Help</string>
			<key>iconList</key>
			<string>Ionicons</string>
			<key>iconName</key>
			<string>help-circled</string>
			<key>edit</key>
			<false/>
			<key>menu</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Frequently Asked Questions</string>
					<key>segue</key>
					<string>web</string>
					<key>file</key>
					<string>FAQ.html</string>
					<key>iconList</key>
					<string>Ionicons</string>
					<key>iconName</key>
					<string>ios-book-outline</string>
					<key>edit</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>Tutorial</string>
					<key>segue</key>
					<string>web</string>
					<key>file</key>
					<string>Tutorial.html</string>
					<key>iconList</key>
					<string>octicons</string>
					<key>iconName</key>
					<string>device-desktop</string>
					<key>edit</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<integer>3</integer>
					<key>name</key>
					<string>TermsOfUse</string>
					<key>segue</key>
					<string>web</string>
					<key>file</key>
					<string>TermsOfUse.html</string>
					<key>iconList</key>
					<string>Ionicons</string>
					<key>iconName</key>
					<string>bowtie</string>
					<key>edit</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<integer>4</integer>
					<key>name</key>
					<string>TermsAndConditions</string>
					<key>segue</key>
					<string>web</string>
					<key>file</key>
					<string>TermsAndConditions.html</string>
					<key>iconList</key>
					<string>Ionicons</string>
					<key>iconName</key>
					<string>bowtie</string>
					<key>edit</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>name</key>
					<string>About</string>
					<key>segue</key>
					<string>about</string>
					<key>file</key>
					<string>About.html</string>
					<key>iconList</key>
					<string>Ionicons</string>
					<key>iconName</key>
					<string>ios-information-outline</string>
					<key>edit</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
